<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         syntaxCheck="true"
>
  <testsuites>
    <testsuite name="core">
      <file>tests/LavachartsTest.php</file>
      <file>tests/VolcanoTest.php</file>
    </testsuite>
    <testsuite name="charts">
      <directory>tests/Charts/</directory>
    </testsuite>
    <testsuite name="dashboards">
      <directory>tests/Dashboards/</directory>
    </testsuite>
    <testsuite name="datatables">
      <directory>tests/DataTables/</directory>
    </testsuite>
    <testsuite name="javascript">
      <directory>tests/Javascript/</directory>
    </testsuite>
    <testsuite name="values">
      <directory>tests/Values/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <blacklist>
      <directory>vendor/</directory>
      <directory>tests/</directory>
      <directory>src/Laravel/</directory>
      <directory>src/Symfony/</directory>
    </blacklist>
  </filter>

  <logging>
    <log type="coverage-clover"
         target="build/logs/clover.xml"
         charset="UTF-8"
         highlight="false"
         lowUpperBound="35"
         highLowerBound="70" />
    <log type="testdox-html"
         target="build/logs/testdox.html" />
  </logging>

  <listeners>
    <listener class="\Mockery\Adapter\Phpunit\TestListener" />
  </listeners>
</phpunit>
