<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./vendor/autoload.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         strict="true"
         verbose="true"
         colors="true"
>
  <testsuites>
    <testsuite name="Package Test Suite">
      <directory suffix=".php">./tests/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./src/Khill/Lavacharts</directory>
      <exclude>
        <directory suffix=".php">./src/Khill/Lavacharts/Facades</directory>
        <directory suffix=".php">./src/Khill/Lavacharts/Traits</directory>
        <file>./src/Khill/Lavacharts/LavachartsServiceProvider.php</file>
      </exclude>
    </whitelist>
  </filter>

  <listeners>
      <listener class="\Mockery\Adapter\Phpunit\TestListener"></listener>
  </listeners>
</phpunit>
