body {
    text-align:center;
}

.welcome {
   width: 560px;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -280px;
   margin-top: 50px;
}

.welcome table {
    padding-left: 80px;
    width: 400px;
}

#plus {
    padding: 0 .4em;
    font-weight: bold;
    font-size: 4em;
}

.heading {
    text-align: center;
    width: 75%;
    font-size: 46px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border-bottom: 2px solid #62AEFF;
}

h3 {
    margin-top: 40px;
    border-bottom: 2px solid #62AEFF;
}