h1, h2 {
    /*font-weight: 300;*/
    margin:0 0 15px 0;
}


h1 {
    font-size: 36px;
    letter-spacing: -2px;
    line-height: 100%;
}

h1.title {
    font-size: 46px;
    font-weight: 700;
}

.left {
    text-align: left;
}

h2 {
    font-size: 24px;
}

p {
    margin: 0 0 15px 0;
}

.menuBtn {
    background: center center no-repeat transparent;
    background: #000;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 10px;
}

.active {
    background: #4581FF;
}
.clear {
    clear: both;
}
.wrap {
    /*background:url(../images/bg.png) top left repeat-x;*/
    width: 100%;
    max-width: 1140px;
    min-width: 960px;
    z-index: 10;
    position: relative;
    margin: 0 auto;
    padding: 0;
}


.section {
    width: 100%;
    max-width: 1140px;
    min-width: 960px;
    z-index: 10;
    position: relative;
    margin: 0 auto;
    padding: 0 0 20px 0;
}


.inner {
    width: 960px;
    margin: 0 auto;
    position: relative;
    min-height: 50px;
    padding:30px 0;
    font-size: 18px;
    font-weight: 300;
    padding:30px 0;
}

.inner img {
    max-width: 960px;
}

/* This is the selector i used for my menu, it needs to be set as position:absolute; */
.subMenu {
    position: absolute;
    top: 500px;
    height: 50px;
    z-index: 1000;
    width: 100%;
    max-width: 1140px;
    min-width: 960px;
    background: #62AEFF;
}

.subMenu .inner {
    padding:0;
    font-weight: 400;
}

.subNavBtn {
    display: block;
    height: 35px;
    width: 12%;
    float: left;
    margin: 0px 0px 0 0;
    text-decoration: none;
    font-size: 14px;
    padding: 15px 2% 0 2%;
    text-align: center;
    color: #000;
    font-size: 14pt;
    font-weight: 800;
}

.end {
    margin: 0;
}


/* SECTIONS */
.sTop {
    min-height: 530px;
    /*background:#e5e5e5;*/
    color:#3d3d3d;
}


.s1 {
    min-height: 400px;
    background: #504f4f;
    /*background: #2e2e2e;*/
    color: white;
}

.s1 .title {
    border-bottom: 2px solid #62AEFF;
}

.s2 {
    min-height: 500px;
    background: #616060;
    /*background: #3f3f3f;*/
    color: white;
}

.s2 .title {
    border-bottom: 2px solid #62AEFF;
}

.s3 {
    min-height: 500px;
    background: #504f4f;
    color: white;
}

.s3 .title {
    border-bottom: 2px solid #62AEFF;
}

.s4 {
    min-height: 500px;
    background: #616060;
    color: white;
}

.s4 .title {
    border-bottom: 2px solid #62AEFF;
}

.s5 {
    min-height: 500px;
    background: #504f4f;
    /*background: #293b4d;*/
    color: white;
}

.s5 .title {
    border-bottom: 2px solid #62AEFF;
}