<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="../vendor/autoload.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         syntaxCheck="true"
         verbose="true"
         colors="true"
>
  <testsuites>
    <testsuite name="core">
      <file>../tests/JavascriptFactoryTest.php</file>
      <file>../tests/LavachartsTest.php</file>
      <file>../tests/VolcanoTest.php</file>
    </testsuite>
    <testsuite name="charts">
      <directory>../tests/Charts/</directory>
    </testsuite>
    <testsuite name="dashboard">
      <directory>../tests/Dashboard/</directory>
    </testsuite>
    <testsuite name="configs">
      <directory>../tests/Configs/</directory>
    </testsuite>
    <testsuite name="events">
      <directory>../tests/Events/</directory>
    </testsuite>
    <testsuite name="formats">
      <directory>../tests/Formats/</directory>
    </testsuite>
    <testsuite name="filters">
      <directory>../tests/Filters/</directory>
    </testsuite>
    <testsuite name="utils">
      <directory>../tests/Utils/</directory>
    </testsuite>
    <testsuite name="values">
      <directory>../tests/Values/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <blacklist>
      <directory>../vendor/</directory>
    </blacklist>
  </filter>

  <listeners>
    <listener class="\MyBuilder\PhpunitAccelerator\TestListener" />
    <listener class="\Mockery\Adapter\Phpunit\TestListener" />
  </listeners>
</phpunit>
